:root 
{
    --primary: #851414;
    --primary-010: #490504;

    --secondary:#29517c;
    --secondary-010:#1a2a3a;

    --white:#fff;

    --black:#10101a;
    --black-010:#26262e;

    --grey:#9b9ba0;
}  